@font-face {
    font-family: "teko";
    src: url(Fonts/Teko-VariableFont_wght.ttf);
}

@font-face {
    font-family: "roboto-bold";
    src: url(Fonts/Roboto-Bold.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(1, 6, 34);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > div {
    width: fit-content;
    background-color: rgb(10, 8, 8);
    border: 2px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-input-section > p {
    font-family: "teko";
    font-size: 28px;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    padding: 1rem;
}

#user-input {
    width: 18rem;
    height: 2.5rem;
    padding-left: 7px;
    background-color: rgb(3, 6, 36);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-family: "roboto-bold";
    font-size: 16px;
    margin-bottom: 15px;
}

#submit-btn {
    padding: 0.5rem 2rem;
    font-family: "teko";
    font-size: 18px;
    margin-bottom: 0.8rem;
    background: linear-gradient(90deg, rgb(243, 0, 211), rgb(140, 0, 255));
    color: white;
    font-weight: bolder;
    border: 2px solid white;
    border-radius: 20px;
}

#submit-btn:hover {
    background: red;
}

#submit-btn:active {
    background: blue;
}

#result {
    display: none;
    background-color: rgb(75, 76, 97);
    margin-top: 1rem;
    margin-bottom: 5rem;
}

#result-statement {
    font-family: "teko";
    font-size: 26px;
    color: white;
    padding: 1rem;
}

#what-palindrom {
    padding: 1rem;
    background-color: rgb(29, 15, 56);
    margin-bottom: 2rem;
    border: 1.5px solid white;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#what-palindrom > p {
    font-family: "teko";
    font-size: 20px;

}